<form action="/contacto" method="post" class="formulario">
<p>
    <label for="nombre">Nombre</label>
    <input type="nombre">
</p>

<p>
    <label for="email">Email</label>
    <input type="email">
</p>


    <label for="telefono">Telefono</label>
    <input type="tel">
</p>

<p>
    <label for="mensaje">Mensaje</label>
    <textarea name="mensaje" id="" cols="30" rows="10"></textarea>
</p>


<p class="acciones"> <input type="submit" value="enviar"></p>
</form>
{{message}}
